{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <head>
    <title>ContactUs</title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    </head>
<body>
<h1 class="courseheading">Fill the required information</h1>
<form method="POST">
    {{ form }}
    {% csrf_token %}
    <button>Submit</button>
</form>

{#<h1 class="courseheading">Don't hesitate to contact us</h1>#}
{#		<form method="post">#}
{#        {% csrf_token %}#}
{#            {{form.as_p}}#}
{#            <button type="submit">Submit</button>#}
{#        </form>#}
</body>
{% endblock %}