{% extends 'base.html' %}
{% block page_content %}
<body>
<h1>Pick your favourite course</h1>
<div class="expenses-container">
        {% for course in courses %}
            <div class="expense-container">
            <h2>{{ course.name }}</h2>
            <img src="{{ course.picture }}">
                {% if course.description %}
                    <p>{{ course.description }}</p>
                {% endif %}
            <div class="expense-detail">
                <div>
                    <p>Price: {{ course.price|floatformat:2 }}$</p>
                </div>
                <div class="right">
                    <a class="button edit" href="{% url 'buy course' course.pk %}">Buy</a>
                </div>
            </div>
        </div>
        {% endfor %}
</div>


</body>
{% endblock %}