{% extends 'base.html' %}
{% block page_content %}
<h1>My Courses</h1>
<div class="course-container">
        {% for course in courses %}
            <div class="course-container">
            <h2>{{ course.name }}</h2>
            <img src="{{ course.picture }}">
            <p>Duration: {{ course.duration }} months</p>
                <p>Description: {{ course.description }}</p>
                <div class="right">
                </div>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock %}