{% extends 'base.html' %}
{% load static %}
{% block page_content %}
        <head>
    <title>MyProducts</title>
        <link rel="stylesheet" href="{% static 'css/user_products.css' %}">
    </head>
<h1 class="courseheading">My Products</h1>
    <h2>My Equipment</h2>
<div class="container">
{% for equipment in equipments %}
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>Equipment</h2>
        <h3>{{ equipment.name }}</h3>
        <p>{{ equipment.description }}</p>
      </div>
    </div>
  </div>
{% endfor %}
</div>

<h2 class="booksh2">My Books</h2>
<div class="container">
{% for book in books %}
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>Book</h2>
        <h3>{{ book.name }}</h3>
        <p>{{ book.description }}</p>
        <a href="{{ book.link_to_online_book }}">Start Reading</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}