{% extends 'base.html' %}
{% load static %}
{% block page_content %}
            <head>
    <title>MyListings</title>
        <link rel="stylesheet" href="{% static 'css/user_products.css' %}">
    </head>

<h1 class="courseheading">My Listings</h1>

    <h2 class="booksh2">My Listed Books</h2>
<div class="container">
{% for book in books %}
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>Book</h2>
        <h3>{{ book.name }}</h3>
        <p>{{ book.description }}</p>
        <a href="{% url 'edit book' book.pk %}">Edit Listing</a>
          <a class="deletelisting" href="{% url 'delete book' book.pk %}">Delete Listing</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

    <h2 class="booksh2">My Listed Courses</h2>
<div class="container">
{% for course in courses %}
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>Course</h2>
        <h3>{{ course.name }}</h3>
        <p>{{ course.description }}</p>
        <a href="{% url 'edit course' course.pk %}">Edit Listing</a>
          <a class="deletelisting" href="{% url 'delete course' course.pk %}">Delete Listing</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

        <h2 class="booksh2">My Listed Equipment</h2>
<div class="container">
{% for equipment in equipments %}
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>Equipment</h2>
        <h3>{{ equipment.name }}</h3>
        <p>{{ equipment.description }}</p>
        <a href="{% url 'edit equipment' equipment.pk %}">Edit Listing</a>
          <a class="deletelisting" href="{% url 'delete equipment' equipment.pk %}">Delete Listing</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{##}
{#        <h2>My Books</h2>#}
{#        {% for book in books %}#}
{#            <div class="expense-container">#}
{#            <h2>{{ book.name }}</h2>#}
{#                <p>Description: {{ book.description }}</p>#}
{#                <p>Author: {{ book.author.name }}</p>#}
{#                <div class="right">#}
{#                    <a class="button edit" href="{% url 'edit book' book.pk %}">Edit</a>#}
{#                    <a class="button delete" href="{% url 'delete book' book.pk %}">Delete</a>#}
{#                </div>#}
{#        </div>#}
{#        {% endfor %}#}
{#        <h2>My Listed Course</h2>#}
{#        {% for course in courses %}#}
{#            <div class="expense-container">#}
{#            <h2>{{ course.name }}</h2>#}
{#                <p>Description: {{ course.description }}</p>#}
{#                <p>Coach: {{ course.coach.name }} years</p>#}
{#                <div class="right">#}
{#                    <a class="button edit" href="{% url 'edit course' course.pk %}">Edit</a>#}
{#                    <a class="button delete" href="{% url 'delete course' course.pk %}">Delete</a>#}
{#                </div>#}
{#        </div>#}
{#        {% endfor %}#}
</div>
{% endblock %}