form {
    padding-left: 150px;
  position: center;
  width: 40%;
    justify-content: space-between;
    display: grid;

}

/*input {*/
/*  scale: inherit;*/
/*}*/
label {
  font-size: 20px;
  font-weight: bold;
}