@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);


body {
    background-image: url('/static/images/back_6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Lato", serif;
    margin: 0 auto;
}

.navigation p{
    display: inline-block;
    font-size: 25px;
}

nav{
    display: inline-block;
    font-size: 25px;
}

ul{
    display: inline-block;
    font-size: 25px;
}

li{
    display: inline-block;
    font-size: 25px;
}

.div{
    display: block;
    font-size: 25px;
}

footer a{
    text-decoration: none;
    color: #afafaf;
}

footer {
    color: #FFFF;
      left: 0;
  bottom: 0;
   width:100%;
    margin: 0;
   height:70px;   /* Height of the footer */
   background: #171a1e;
    display: flex;
    text-align: center;
}
.pagecontent {
    min-height: 700px;
}

.ImageContainer {
    padding-left: 400px;
    /*background-image: url('/static/images/back_6.jpg'), url('/static/images/Logo_4.gif');*/
    background-blend-mode: lighten;
}

/*img {*/
/*    padding: 500px;*/
/*    position: center;*/
/*}*/
/*@keyframes example {*/

/*}*/